<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Check Your Rep!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- USER style -->
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <i class="fas fa-bars fa-4x"></i>
    <div class="col-md-6 left">
        <header>
            <img src="/images/branding.png" alt="" class="logo" />
        </header>
        <h2>THE APP THAT ALLOWS USERS<br/>
        to find all your representatives.</h2>

        <div class="formElement">
            <form id="form">
                <input type="text" id="userData" name="data" placeholder="Search by Address or ZIP Code" />
                <button type="submit" id="userSubmit" name="submit" value="Check Your Rep!">Check Your Rep!</button>
            </form>
        </div>

    </div>

    <div class="col-md-6 right">
        <img src="/images/iphone.png" alt="" />
    </div>

<!-- Latest compiled and minified JavaScript -->
	<script src="../config.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
	<script src="vendors/jquery.js"></script>
	<script src="scripts/index.js"></script>
</body>
</html>
