body {
    width: 100wh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease-in-out;
    -moz-animation: Gradient 15s ease-in-out;
    animation: Gradient 15s ease-in-out;
    font-family: 'Open Sans', sans-serif;
}

/* ======================
WEBFONTS
======================
*/

@font-face {
    font-family: 'comfortaabold';
    src: url('./fonts/comfortaa-bold.woff2') format('woff2'),
         url('./fonts/comfortaa-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaalight';
    src: url('./fonts/comfortaa-light.woff2') format('woff2'),
         url('./fonts/comfortaa-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaaregular';
    src: url('./fonts/comfortaa-regular.woff2') format('woff2'),
         url('./comfortaa-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ======================
TEXT STYLES
======================
*/

h1 {
    font-family: 'comfortaabold';
    text-align: center;
    font-size: 3em;
    color: #fff;
}

h2 {
    font-weight: 400;
    text-align: center;
    font-size: 2.65em;
    color: #fff;
}

h3 {
    font-family: 'comfortaalight';
    text-align: center;
    font-size: 2em;
    color: #fff;
}

h4, h5, h6 {
    color: #555;
}

a {
    text-decoration: none;
    border-bottom: none;
    color: #fff;
}

/* ======================
BG Animation
======================
*/

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* ======================
Layout
======================
*/

header {
    margin: 50px 0;
}

img {
    width: 100%;
}

i {
    text-align: right;
    padding:20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* ======================
Form Elements
======================
*/

.formElement {
    margin: 0 auto;
    padding: 0 auto;
}

form {
    margin: 0 auto;
    padding: 0 auto;
}

input {
    margin: 0 auto;
    background-color: rgba(255,255,255,0.25);
    padding: 25px 50px;
    border: 1px solid #ccc;
}

button{
    color: #000;
    display: block;
    text-align: center;
}

.left {
    padding: 50px 25px;
}

.right{
    padding: 25px;
}

.logo {
    margin: 0 0 100px 0;
}
